@import url(http://fonts.googleapis.com/css?family=Play:400,700|Signika:400,300,600,700);
body {
  margin: 0;
  padding: 0;
  font-family: "Signika";
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  height: auto; }

.main {
  width: 100%;
  height: 100%;
  position: fixed; }

nav {
  width: 100%;
  height: 90px;
  background-color: white;
  padding: 0;
  margin: auto;
  position: fixed;
  z-index: 7;
  -webkit-box-shadow: -1px 7px 23px 2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: -1px 7px 23px 2px rgba(0, 0, 0, 0.46);
  box-shadow: -1px 7px 23px 2px rgba(0, 0, 0, 0.46); }
  nav ul {
    margin: 30px 0 auto 0;
    width: auto;
    height: 100%;
    padding: 10px;
    float: left; }
  nav li {
    float: left;
    margin: 0 30px 0 0;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    font-family: "Play"; }
  nav a {
    color: #485956;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-color: #fcdb3d; }
  nav a:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px !important;
    border-color: #fcdb3d; }
  nav a.active {
    border-bottom: 2px solid #fcdb3d; }

.navigation {
  margin: 0 auto;
  width: 800px;
  height: 100%; }

.onepage-wrapper {
  height: 100%;
  min-height: 700px;
  max-height: 100%; }

.logo {
  background: url("../img/logo-web.png") no-repeat;
  background-size: cover;
  background-position: top center;
  width: 140px;
  height: 66px;
  margin: 10px 20px 0 0;
  padding: 0px;
  float: left; }

.logo-small {
  background: url("../img/logo-small.png") no-repeat;
  background-position: top center;
  width: 140px;
  height: 66px;
  margin: 10px 20px 0 0;
  padding: 0px;
  float: left;
  display: none;
  -webkit-animation: rotate linear 2s forwards alternate;
  animation: rotate linear 2s forwards alternate; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(); }
  to {
    -webkit-transform: rotateY(180deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotateY(); }
  to {
    -webkit-transform: rotateY(180deg); } }
/*HOME*/
.page1 {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  min-height: 730px;
  background-size: 3000px auto;
  background-image: url("../img/map.jpg");
  background-position: center;
  margin: auto;
  right: 0;
  left: 0;
  z-index: 3; }

/*PARTNERS*/
.page2 {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  min-height: 730px;
  background-size: cover;
  background-image: url("../img/partners.jpg");
  z-index: 1; }

/*PROVIDERS*/
.page3 {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  min-height: 730px;
  background-image: url("../img/europeans_flags.png");
  background-size: cover;
  z-index: 2;
  height: 115%;
  height: 115vh;
  /*	transform: skew(0deg, -4deg); */ }

/*SUPPORTERS*/
.page4 {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  min-height: 730px;
  background-size: cover;
  z-index: 5; }

/*CONTACTS*/
.page6 {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  min-height: 730px;
  background-color: #485956;
  z-index: 6; }

.box {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  min-height: 730px;
  background-color: transparent;
  z-index: 4; }

.about_text {
  width: 550px;
  height: auto;
  background-color: rgba(72, 89, 86, 0.7);
  margin: 300px auto 0 auto;
  padding: 30px 0;
  border: 3px #485956 solid; }
  .about_text p {
    color: white;
    padding: 10px 20px 15px 20px;
    text-align: center;
    max-width: 500px;
    min-width: 200px;
    margin: auto; }

.arrow-down {
  width: 60px;
  height: 35px;
  display: block;
  margin: 0 auto 0 auto; }

.arrow-container {
  width: 100%;
  height: 35px;
  bottom: 5%;
  position: fixed;
  z-index: 6; }
  .arrow-container polygon {
    fill: #FFF;
    cursor: pointer;
    animation: arrow linear 2s infinite alternate;
    -webkit-animation: arrow linear 2s infinite alternate; }
  .arrow-container polygon:hover {
    fill: #485956; }

@keyframes arrow {
  0% {
    fill: white; }
  50% {
    fill: red; }
  100% {
    fill: white; } }
@-webkit-keyframes arrow {
  0% {
    fill: white; }
  50% {
    fill: red; }
  100% {
    fill: white; } }
.scrolldown {
  width: 322px;
  height: auto;
  margin: -50px auto 0 auto; }
  .scrolldown p {
    font-size: 23px;
    color: #485956;
    text-align: center;
    float: left;
    margin: 0 auto; }
  .scrolldown span {
    font-size: 40px;
    color: #485956;
    text-align: center;
    float: left;
    margin: 0 auto;
    margin: 19px 10px 0 10px; }

.mirror {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.line {
  width: 100px;
  margin: auto;
  padding: 0 0 10px 0; }

.white {
  color: white; }

.green {
  color: #485956; }

.text {
  margin: 300px 0 0 0; }

.text p {
  text-align: center;
  max-width: 571px;
  min-width: 200px;
  margin: auto;
  padding: 0 0 20px 0; }

.icons {
  margin: 15px auto 0 auto;
  max-width: 311px; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s ease forwards alternate;
  animation-play-state: paused;
  transition-delay: 2s;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  /* Chrome, Safari, Opera */
  -webkit-animation: dash 10s ease forwards;
  -webkit-animation-play-state: paused;
  -webkit-transition-delay: 2s; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
.margin_right {
  margin-right: 34px; }

.remove_mright {
  margin-right: 0px; }

.icons span {
  width: 100px;
  height: 100px; }

.text-left {
  text-align: left; }

/*----------------- SKYLINE BUTTONS ------------------*/
.skylines {
  margin: 15px auto 0 auto;
  max-width: 374px;
  cursor: pointer; }
  .skylines div {
    width: 170px;
    height: 102px;
    display: block;
    float: left;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    height: 31%;
    font-size: 13px;
    font-family: "Play";
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0;
    padding: 58px 0 0 0; }
    .skylines div:hover {
      font-weight: 700;
      color: #fcdb3d; }
  .skylines .margin_right {
    margin-right: 34px; }

#milan {
  background: url("../img/milan.png") center top no-repeat; }

#milan:hover {
  background: url("../img/milan-hover.png") center top no-repeat; }

#oxford {
  background: url("../img/oxford.png") center top no-repeat; }

#oxford:hover {
  background: url("../img/oxford-hover.png") center top no-repeat; }

#manchester {
  background: url("../img/manchester.png") center top no-repeat; }

#manchester:hover {
  background: url("../img/manchester-hover.png") center top no-repeat; }

#denhaag {
  background: url("../img/denhaag.png") center top no-repeat; }

#denhaag:hover {
  background: url("../img/denhaag-hover.png") center top no-repeat; }

/*---------CONTACTS SECTION-----------*/
.content {
  margin: 130px auto 0 auto;
  max-width: 900px;
  height: 62%; }

.page6 form {
  width: 57%;
  height: 62%;
  margin: 0 27px;
  float: left; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 form {
      min-width: 95.5%;
      min-height: 252%; } }
.page6 label {
  display: block;
  font-size: 17px;
  font-family: "Signika";
  font-weight: lighter;
  float: left;
  width: 90px;
  height: 26px;
  padding-top: 5px;
  color: white;
  margin: 0 15px 22px 0; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 label {
      font-size: 47px; } }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 label {
      height: 56px;
      margin: 0 135px 22px 0; } }
.page6 input {
  display: block;
  font-size: 17px;
  font-family: "Signika";
  font-weight: lighter;
  margin: 0 0 30px 0;
  height: 21px;
  width: 300px;
  background-color: transparent;
  border: solid 1px white;
  color: #fcdb3d;
  padding: 0 5px;
  position: relative; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 input {
      font-size: 47px; } }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 input {
      min-height: 61px;
      min-width: 600px; } }
.page6 textarea {
  display: block;
  font-size: 17px;
  font-family: "Signika";
  font-weight: lighter;
  clear: both;
  width: 100%;
  max-width: 100%;
  height: 76px;
  border: solid 1px #fcdb3d;
  color: #485956;
  padding: 10px; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 textarea {
      font-size: 47px; } }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    .page6 textarea {
      min-height: 120px;
      max-width: 95.5%; } }

#somethingSumbit {
  width: 100%;
  max-width: 100%; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    #somethingSumbit {
      width: 95.5%;
      max-width: 95.5%; } }

#submit {
  background-color: transparent;
  width: 150px;
  height: 40px;
  border: solid 1px #fcdb3d;
  color: #fcdb3d;
  font-family: "Play";
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 20px -20px 0 0;
  float: right; }

#submit:hover {
  background-color: #fcdb3d;
  color: white; }

#contacts-info {
  display: block;
  float: left;
  height: 315px;
  max-width: 50.5%;
  background-color: white;
  margin: 0 0 27px 27px;
  padding: 22px; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    #contacts-info {
      height: 535px;
      min-width: 88.5%; } }
  #contacts-info h3 {
    font-family: "Signika";
    font-weight: normal;
    font-size: 21px;
    color: #485956;
    margin: 0 0 30px 0;
    line-height: 18px; }
    @media only screen and (max-device-width: 788px) and (orientation: portrait) {
      #contacts-info h3 {
        font-size: 51px;
        line-height: 48px; } }
  #contacts-info span {
    font-family: "Play";
    font-size: 12px;
    color: #485956;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase; }
    @media only screen and (max-device-width: 788px) and (orientation: portrait) {
      #contacts-info span {
        font-size: 32px; } }
  #contacts-info a {
    color: #485956;
    font-size: 14px;
    text-align: left;
    font-family: "Play";
    font-weight: bold;
    background-image: url("../img/angle-brackets.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding: 0 0 0 15px; }
    @media only screen and (max-device-width: 788px) and (orientation: portrait) {
      #contacts-info a {
        font-size: 34px; } }
  #contacts-info a:hover {
    color: #fcdb3d; }
  #contacts-info p {
    color: #485956;
    font-size: 14px;
    text-align: left;
    font-family: "Play";
    background-image: url("../img/angle-brackets.png");
    background-position: 0% 20%;
    background-repeat: no-repeat;
    padding: 0 0 0 15px;
    line-height: 21px; }
    @media only screen and (max-device-width: 788px) and (orientation: portrait) {
      #contacts-info p {
        font-size: 34px;
        line-height: 41px; } }
  #contacts-info address {
    color: #485956;
    font-size: 14px;
    text-align: left;
    font-family: "Play";
    font-style: normal;
    background-image: url("../img/angle-brackets.png");
    background-position: 0% 5%;
    background-repeat: no-repeat;
    padding: 0 0 0 15px;
    line-height: 21px; }
    @media only screen and (max-device-width: 788px) and (orientation: portrait) {
      #contacts-info address {
        font-size: 34px;
        line-height: 41px; } }

form p {
  margin: 0;
  position: absolute;
  font-size: 12px;
  color: #fcdb3d;
  margin: -30px 0 0 0;
  position: absolute;
  font-family: "Signika"; }

.margin {
  margin-top: 0px; }

footer {
  width: 100%;
  height: 100%;
  background-color: #262f2d; }
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    footer {
      margin-top: 300px; } }
  footer p {
    font-size: 10pt;
    font-family: "Signika";
    font-weight: lighter;
    width: 45%;
    height: 30px;
    float: left;
    margin: 20px 0px 0px 40px;
    color: white;
    text-align: right; }

.mobile {
  display: none; }

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: #fff;
  z-index: 99;
  text-align: center; }

#loading-image {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background: url("../img/logo.png") no-repeat;
  background-position: center;
  z-index: 600; }
  #loading-image #loading-bar {
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0px;
    position: fixed;
    display: block;
    background: url("../img/loading_bar.gif") no-repeat;
    background-position: center;
    z-index: 600; }

/*---------HAMBURGER MENU-----------*/
#hamburger-icon {
  display: none; }

.hamburger-menu {
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8; }
  .hamburger-menu ul {
    width: 80%;
    height: 80%; }
  .hamburger-menu li {
    width: 900px;
    min-width: 500px;
    height: 80px;
    text-align: center;
    font-size: 90px;
    margin: 100px 0 0 0;
    list-style: none; }
  .hamburger-menu a {
    text-decoration: none; }

.display {
  display: block; }

.hamburger-group {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block; }

.hamburger-group button {
  height: 150px;
  width: 150px;
  margin: 53px 53px 0px 0;
  float: right;
  border: none;
  border-radius: 5px;
  background-color: red;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.hamburger-group button:hover {
  background-color: orange;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.cmn-toggle-switch__rot {
  background-color: #28aadc; }

.cmn-toggle-switch__rot span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

/* active state, i.e. menu open */
.cmn-toggle-switch__rot.active {
  background-color: #166888; }

.cmn-toggle-switch__rot.active span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

@media only screen and (max-device-width: 788px) and (orientation: portrait) {
  #hamburger-icon {
    display: block;
    z-index: 7;
    position: fixed;
    background-color: white;
    height: 250px;
    width: 100%;
    box-shadow: -1px 7px 23px 2px rgba(0, 0, 0, 0.46); }

  nav {
    display: none; }

  .logo {
    display: block !important;
    height: 78% !important;
    width: 40%;
    margin: 25px 0 25px 30px; }

  .logo-small {
    display: none !important; }

  .about_text {
    width: 85%;
    height: auto;
    margin: 65% auto 0 auto; }

  .about_text p {
    max-width: 80%;
    font-size: 46px;
    line-height: 64px; }

  .text p {
    text-align: center;
    margin: 450px auto 0 auto;
    padding: 0 0 20px 0;
    max-width: 80%;
    font-size: 46px;
    line-height: 64px; }

  .icons {
    max-width: 695px; }

  .icons img {
    width: 200px; }

  .icons svg {
    height: 28% !important;
    width: 28% !important; }

  .line {
    margin: 0 auto 50px auto; }

  .margin_right {
    margin-right: 34px; }

  .margin_right:first-child {
    margin-left: 17px; }

  .page3 {
    /*PROVIDERS*/
    padding: 200px 0 0 0; } }
#carousel {
  position: absolute;
  z-index: -5;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; }

.left {
  float: left;
  cursor: pointer;
  margin-top: 25px; }

.right {
  float: right;
  cursor: pointer;
  margin-top: 25px; }

.frame {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden; }

#slider {
  left: 0px;
  position: relative;
  transition: 1s;
  height: 110%;
  margin-top: -2%; }

.slide {
  width: 100%;
  height: 100%;
  margin: 0 -5px 0 0;
  padding: 0;
  display: inline-block;
  transition: 1s; }

.slide img {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#euroflagImg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/euroflag2.jpg"); }

#manchesterImg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/manchester.jpg"); }

#oxfordImg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/oxford.jpg"); }

#denhaagImg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/denhaag.jpg"); }

#milanImg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/milan_2.jpg"); }

/*# sourceMappingURL=style.css.map */
